<h2><%= t(:itinerary) %></h2>

<% @itinerary.each do |day, activities| %>
  <h5><%= day.strftime("%b %d") %></h5>
  <% activities.each do |activity| %>
    <h4><i class="fa fa-calendar" aria-hidden="true"></i> <%= activity.name %></h4>
    <i class="fa fa-clock-o" aria-hidden="true"></i> <%= activity.start_hour.strftime("%I:%M %p") %>
    <div class="description"><%= simple_format(activity.description) %></div>
    <p><small><b><%= t(:dress_code) %>: </b><%= activity.dress_code %></small></p>
  <% end %>
  <hr>
<% end %>
