<h2><%= t(:RSVP) %></h2>
<% @registries.each do |registry| %>
  <%= link_to registry.name, registry.link, class:"btn btn-info" %><br>
<% end %>
<p>
  <%= t(:will_you_attend) %>
</p>
<%= form_tag(rsvp_path, class:"", remote: true) do %>
  <div class="row text-left">
    <div class="form-group col-md-6">
      <%= label_tag :first_name %>
      <%= text_field_tag 'first_name', nil, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= label_tag :last_name %>
      <%= text_field_tag 'last_name', nil, class:"form-control" %>
    </div>
  </div>

  <div class="row text-left">
    <div class="form-group col-md-12">
      <%= label_tag :email %>
      <%= text_field_tag 'email', nil, class:"form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="radio-wrapper col-sm-6">
      <%= radio_button_tag 'attending', true, true, id:"yes", class:"custom-radio" %>
      <div class="check"></div>
      <label for="yes" class="radio-label"><%= t(:can_attend) %></label>
    </div>

    <div class="radio-wrapper col-sm-6">
      <%= radio_button_tag 'attending', false, false, id:"no", class:"custom-radio" %>
      <div class="check"></div>
      <label for="no" class="radio-label"><%= t(:cannot_attend) %></label>
    </div>
  </div>


  <div id="more-guests"></div>

  <div class="text-left">
    <%= link_to "Add Another Guest", '#', onclick:"addGuestForm()", class:"btn btn-default", data: { turbolinks: false } %>
  </div>

  <div>
    <br>
    <%= submit_tag "Send", class:"btn btn-info btn-lg" %>
  </div>

<% end %>


<div id="rsvp-ok" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t(:thanks_for_rsvp) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:rsvp_received) %>&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
