<% content_for :logo_link do %>
  <a class="navbar-brand page-scroll" href="#page-top">
    <span class="light"><%= ENV['bride_first_name'] %></span>&<span class="light"><%= ENV['groom_first_name'] %></span>
  </a>
<% end %>

<% content_for :navbar_links do %>
  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
  <li class="hidden">
    <a href="#page-top"></a>
  </li>
  <li>
    <a class="page-scroll" data-turbolinks="false" href="#about"><%= t(:save_the_date) %></a>
  </li>
  <li>
    <a class="page-scroll" data-turbolinks="false" href="#itinerary"><%= t(:itinerary) %></a>
  </li>
  <li>
    <a class="page-scroll" data-turbolinks="false" href="#acommodations"><%= t(:acommodations) %></a>
  </li>
  <li>
    <a class="page-scroll" data-turbolinks="false" href="#registry"><%= t(:registry) %></a>
  </li>
  <li>
    <a class="page-scroll" data-turbolinks="false" href="<%= blog_path %>"><%= t(:blog) %></a>
  </li>
<% end %>

<!-- Intro Header -->
<%= render 'welcome/intro' %>

<!-- About Section -->
<section id="about" class="container grey-section content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= @pretty_place %></h2>
      <p> <%= @pretty_date %> </p>
      <div class="countdown-container"></div>
    </div>
  </div>
</section>

<!-- itinerary Section -->
<section id="itinerary" class="content-section text-center white-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2  text-left">
      <%= render 'welcome/itinerary' %>
    </div>
  </div>
</section>

<!-- acommodations Section -->
<section id="acommodations" class="content-section text-center grey-section">
  <div class="acommodations-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <h2><%= t(:acommodations) %></h2>
        <% @acommodations.each do |hotel| %>
          <h4><i class="fa fa-building" aria-hidden="true"></i> <%= hotel.name %></h4>
          <p>
            <%= hotel.description %>
            <% if !hotel.link.empty? %>
            <br>
              <%= link_to "Visit Online", hotel.link, class:"btn btn-primary" %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- registry Section -->
<section id="registry" class="content-section text-center white-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= t(:registry) %></h2>
      <% @registries.each do |registry| %>
        <%= link_to registry.name, registry.link, class:"btn btn-info" %><br>
      <% end %>
      <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- RSVP Section -->
<section id="rsvp" class="content-section text-center grey-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <%= render 'welcome/rsvp' %>
    </div>
  </div>
</section>

<!-- Map Section -->
<!-- <div id="map"></div> -->


<div id="guest-fields" class="guest-fields hidden">
  <div class="row text-left">
    <div class="form-group col-md-6">
      <%= label_tag :first_name %>
      <%= text_field_tag 'related[][first_name]', nil, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= label_tag :last_name %>
      <%= text_field_tag 'related[][last_name]', nil, class:"form-control" %>
    </div>
  </div>

  <div class="row text-left">
    <div class="form-group col-md-12">
      <%= label_tag :email %>
      <%= text_field_tag 'related[][email]', nil, class:"form-control" %>
    </div>
  </div>
</div>
