<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class=""><%= "#{ENV['bride_first_name']}&#{ENV['groom_first_name']}" %></h1>
          <p class="intro-text">We are so excited and can't wait to see you.</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= @pretty_place %></h2>
      <p> <%= @pretty_date %> </p>
      <div class="countdown-container"></div>
    </div>
  </div>
</section>

<!-- acommodations Section -->
<section id="acommodations" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <h2><%= t(:acommodations) %></h2>
        <% @acommodations.each do |hotel| %>
          <h4><i class="fa fa-building" aria-hidden="true"></i> <%= hotel.name %></h4>
          <p><%= hotel.description %></p>
          <%= link_to "Visit Online", hotel.link, class:"btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- itinerary Section -->
<section id="itinerary" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Start Bootstrap</h2>
      <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
      <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Map Section -->
<!-- <div id="map"></div> -->
