<%= form_for([:admin, registry], html: { multipart: true }) do |f| %>

  <% if registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
      <% registry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group field">
    <%= f.label :brand_logo %>
    <%= f.file_field :brand_logo %>
  </div>

  <div class="form-group field">
    <%= f.label :link %>
    <%= f.text_field :link, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
