# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$ ->
  endDate = "<%= ENV['wedding_date'] %>"
  console.log(endDate)
  console.log( "<%= ENV['groom_last_name'] %>" )
  $('.countdown-container').countdown
    date: endDate
    render: (data) ->
      $(@el).html '<div>' + @leadingZeros(data.days, 3) + ' <span>'+'<%= I18n.t(:days) %>'+'</span></div><div>' + @leadingZeros(data.hours, 2) + ' <span>'+'<%= I18n.t(:hrs) %>'+'</span></div><div>' + @leadingZeros(data.min, 2) + ' <span>'+'<%= I18n.t(:min) %>'+'</span></div><div>' + @leadingZeros(data.sec, 2) + ' <span>sec</span></div>'
      return
  # $('.countdown-container').data('countdown').stop();
  return
